In [4]:
letters=["a","b","c","ad"]
newlist=[]
for x in letters:
  if "a" in x:
    newlist.append(x)
print(newlist)

['a', 'ad']

In [6]:
newlist=[x for x in letters if "a" in x]
newlist

['a', 'ad']

Only accept items that are not "a"

In [7]:
newlist=[x for x in letters if x!="a"]
newlist

['b', 'c', 'ad']

No if statement

In [8]:
newlist=[x for x in letters]
newlist

['a', 'b', 'c', 'ad']

with iterables

In [9]:
newlist=[x for x in range(10)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Create a list of all odd numbers between 1 and 20.

In [10]:
newlist=[x for x in range(20) if x%2!=0]
newlist

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Make a list of the lengths of words in ["hello", "world", "python"]

In [12]:
lists=["hello", "world", "python"]
newlist=[len(x) for x in lists]
newlist

[5, 5, 6]

From a list of numbers, return a list of only the positive numbers

In [13]:
nlist=[1,2,-5,-9,-4,3,6,8]
newlist=[x for x in nlist if x>0]
newlist

[1, 2, 3, 6, 8]

Flatten this nested list: [[1, 2], [3, 4], [5]] â†’ [1, 2, 3, 4, 5]

In [16]:
nested_list=[[1, 2], [3, 4], [5]]
flat_list=[]
for sublist in nested_list:
  # print(sublist)
  for item in sublist:
    # print(item)
    flat_list.append(item)
flat_list

[1, 2, 3, 4, 5]

From a sentence, return a list of all words longer than 3 characters

In [18]:
flat_list_c=[item for sublist in nested_list for item in sublist]
flat_list_c

[1, 2, 3, 4, 5]

In [20]:
newlist=[x for x in lists if len(x)>5]
newlist

['python']